/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .menu a {
  display: block;
  color: #8d8d8d;
  padding: 10px 10px;
}

.header .menu a:hover {
  color: silver;
}

.header .menu a i {
  margin-right: 5px;
}

@media (max-width: 375px) {
  .header .menu span {
    display: none;
  }
}

.header .menu em {
  display: none;
}

@media (max-width: 375px) {
  .header .menu em {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    background-color: red;
    border-radius: 100%;
  }
}

@media (max-width: 375px) {
  .header .mobile-none {
    display: none;
  }
}

.banner {
  height: 500px;
  background: url(../images/index1.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner .banner__text {
  position: absolute;
  right: 15%;
  width: 20%;
  color: white;
}

.banner .banner__text h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.banner .banner__text p {
  line-height: 1.2;
}

.shop-btn {
  height: 40px;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 20px;
  text-align: center;
  font-size: 20px;
  border: 2px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s;
  transition: .3s;
}

.shop-btn:hover {
  width: 100%;
  -webkit-transition: .3s;
  transition: .3s;
  background-color: rgba(255, 255, 255, 0.1);
}

.shop-btn a {
  color: white;
  display: block;
  width: 100%;
  padding: 10px 15px;
}

.btn2 {
  border: 2px solid black;
  font-size: 15px;
  font-weight: bold;
}

.btn2:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.btn2 a {
  color: #000;
}

.product {
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.product li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product li.row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.product .product__content {
  max-width: 50%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product .product__content .content__inner {
  display: inline-block;
  max-width: 50%;
}

.product .product__content .content__inner2 {
  display: inline-block;
  width: 90%;
}

.product .product__content .product__title {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.product .product__content .product__introduce {
  color: #3f3f3f;
  line-height: 1.2;
  margin-bottom: 30px;
}

.product .product__content .seeMore {
  color: #c1a774;
  font-weight: bold;
}

.product .product__content .seeMore:hover {
  color: #e0d4bb;
}

.product .product__img {
  max-width: 50%;
}

.product .product__img img {
  display: block;
}

.product .double-height img {
  height: 1080px;
}

.productList {
  width: 100%;
  background-color: #e0e0e0;
}

.productList ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.productList ul li {
  margin: 50px 15px;
}

.productList ul a {
  display: block;
  max-width: 350px;
  height: auto;
  margin-bottom: 10px;
}

.productList ul a.soldOut::before {
  content: "Sold Out";
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  width: calc(33.33333% - 40px);
  max-width: 340px;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.productList .title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.productList .name {
  font-size: 1.1rem;
  color: #898989;
  margin-bottom: 30px;
}

.productList .price {
  font-size: 1.2em;
  color: #898989;
}

.productList .price span {
  text-decoration: line-through;
  margin-left: 15px;
}

.product__img2 img {
  max-width: 90%;
  height: auto;
}

.subscribe {
  width: 100%;
  height: 300px;
  background: url(../images/index10.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe h3 {
  font-size: 1.5rem;
  line-height: 1.2;
  color: #8d8d8d;
  margin-bottom: 20px;
}

.subscribe .subscribe__inner {
  width: 1100px;
  padding: 0 15px;
}

.subscribe form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe input {
  height: 40px;
  padding: 10px;
  display: inline-block;
  border-radius: 5px 0 0 5px;
  border: 2px solid #916000;
}

.subscribe input:focus {
  outline: none;
}

.subscribe input:focus::-webkit-input-placeholder {
  color: #ccc;
}

.subscribe input:focus:-ms-input-placeholder {
  color: #ccc;
}

.subscribe input:focus::-ms-input-placeholder {
  color: #ccc;
}

.subscribe input:focus::placeholder {
  color: #ccc;
}

.subscribe input[type="submit"] {
  border-radius: 0 5px 5px 0;
  color: white;
  background-color: #916000;
  -webkit-transition: .3s;
  transition: .3s;
}

.subscribe input[type="submit"]:hover {
  background-color: #784f00;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.footer {
  background-color: #916000;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
}

.footer__inner .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__inner .copyright {
  margin-left: 10px;
  color: #dbcbac;
}

.footer__inner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__inner ul a {
  display: block;
  padding: 20px 10px;
  color: #dbcbac;
  -webkit-transition: .3s;
  transition: .3s;
}

.footer__inner ul a:hover {
  -webkit-transition: .3s;
  transition: .3s;
  color: #faf8f3;
}
/*# sourceMappingURL=main.css.map */