.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
    // background-color: red;
}

.mt-1 {
    margin-top: 8px;
}

.mt-2 {
    margin-top: 16px;
}

.mt-3 {
    margin-top: 24px;
}

.mb-1 {
    margin-bottom: 8px;
}

.mb-2 {
    margin-bottom: 16px;
}

.mb-3 {
    margin-bottom: 24px;
}

.mb-52 {
    margin-bottom: 52px;
}

.mb-60 {
    margin-bottom: 60px;
}

// * {
//     outline: 1px solid red;
// }
.header {
    display: flex;
    justify-content: space-between;
    .menu {
        display: flex;
        justify-content: space-between;
        a {
            display: block;
            // background-color: red;
            color: #8d8d8d;
            padding: 16px 10px;
            font-size: 20px;
            line-height: 30px;
            &:hover {
                color: lighten(#8d8d8d, 20%);
            }
            i {
                margin-right: 5px;
            }
        }
        span {
            @include mobile {
                display: none;
            }
        }
        em {
            display: none;
            @include mobile {
                display: inline-block;
                margin: 0 auto;
                width: 16px;
                height: 16px;
                position: absolute;
                top: 12px;
                right: 64px;
                font-size: 12px;
                line-height: 16px;
                color: white;
                background-color: #916000;
                border-radius: 7px;
                text-align: center;
            }
        }
    }
}

.mobile-none {
    @include mobile {
        display: none;
    }
}

.mobile-show {
    display: none;
    @include mobile {
        display: block;
    }
}

.banner {
    height: 870px;
    margin: 0 auto;
    background: url(../images/index1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    @include mobile {
        height: 480px;
        background-position: center center;
    }
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: flex-end;
    .banner__container {
        max-width: 1140px;
        padding: 0 15px;
        margin: 0 auto;
        height: 870px;
        // background-color: blue;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        @include mobile {
            height: 480px;
        }
    }
    .banner__text {
        // position: absolute;
        // right: 0px;
        max-width: 445px;
        color: white;
        @include mobile {
            padding: 0 15px;
            width: 100%;
            right: 0;
        }
        h2 {
            font-size: 40px;
            line-height: 60px;
            font-weight: bold;
            margin-bottom: 8px;
            @include mobile {
                font-size: 32px;
                line-height: 48px;
            }
        }
        p {
            font-size: 24px;
            line-height: 36px;
            @include mobile {
                font-size: 20px;
                line-height: 30px;
            }
        }
    }
}

.shop-btn {
    // background-color: red;
    height: 40px;
    width: 90%;
    // margin: 0 auto;
    margin-top: 20px;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    @include mobile {
        min-width: 100%;
    }
    &:hover {
        // width: 100%;
        transition: .3s;
        background-color: rgba(255, 255, 255, .1);
    }
    a {
        color: white;
        display: block;
        width: 100%;
        padding: 10px 15px;
    }
}

.btn2 {
    border: 2px solid black;
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    &:hover {
        background-color: rgba(0, 0, 0, .1);
    }
    a {
        color: #000;
    }
}

.product {
    // background-color: #aca;
    max-width: 1100px;
    margin: 0 auto;
    // padding: 50px 0;
    padding-top: 50px;
    padding-bottom: 50px;
    li {
        display: flex;
        flex-wrap: wrap;
        // background-color: red;
        @include mobile {
            flex-direction: column-reverse;
        }
    }
    li.row-reverse {
        flex-direction: row-reverse;
        @include mobile {
            flex-direction: column-reverse;
        }
    }
    .product__content {
        max-width: 50%;
        height: auto;
        // background-color: blue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include mobile {
            max-width: 100%;
        }
        .content__inner {
            display: inline-block;
            max-width: 66.66%;
            // background-color: red;
            @include mobile {
                max-width: 100%;
                margin-top: 8px;
                margin-bottom: 32px;
            }
        }
        .content__inner2 {
            display: inline-block;
            width: 90%;
        }
        .product__title {
            font-size: 32px;
            line-height: 48px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        .product__title2 {
            font-size: 24px;
            line-height: 36px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        .product__introduce {
            // width: 50%;
            color: #000;
            line-height: 30px;
            font-size: 20px;
            // margin-bottom: 30px;
        }
        .product__introduce2 {
            // width: 50%;
            color: #000;
            line-height: 24px;
            font-size: 16px;
            // margin-bottom: 30px;
        }
        .seeMore {
            color: #c1a774;
            font-weight: bold;
            &:hover {
                color: lighten(#c1a774, 20%);
            }
        }
    }
    .product__content2 {
        max-width: 33.33%;
        height: auto;
        // background-color: blue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include mobile {
            max-width: 100%;
        }
        .content__inner {
            display: inline-block;
            max-width: 66.66%;
            // background-color: red;
            @include mobile {
                max-width: 100%;
                margin-top: 8px;
                margin-bottom: 32px;
            }
        }
        .content__inner2 {
            display: inline-block;
            width: 100%;
        }
        .product__title {
            font-size: 32px;
            line-height: 48px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        .product__introduce {
            // width: 50%;
            color: #000;
            line-height: 30px;
            font-size: 20px;
            // margin-bottom: 30px;
        }
        .seeMore {
            color: #c1a774;
            font-weight: bold;
            &:hover {
                color: lighten(#c1a774, 20%);
            }
        }
    }
    .product__introduce2 {
        font-size: 16px;
        line-height: 24px;
    }
    .p-big {
        font-size: 20px;
        line-height: 30px;
    }
    .product__img {
        max-width: 50%;
        // background-color: red;
        @include mobile {
            max-width: 100%;
        }
        img {
            // max-width: 550px;
            // height: 550px;
            display: block; //去除圖片margin bottom 3px
        }
    }
    .double-height {
        img {
            height: 1080px;
            @include mobile {
                height: 680px;
            }
        }
    }
}

.productList {
    width: 100%;
    background-color: #e0e0e0;
    ul {
        display: flex;
        padding-top: 32px;
        padding-bottom: 36px;
        max-width: 100%;
        margin: 0 auto;
        // background-color: red;
        justify-content: space-between;
        @include mobile {
            flex-wrap: wrap;
            padding-bottom: 0;
        }
        li {
            // margin: 24px 15px;
            // background-color: red;
            @include mobile {
                display: flex;
                flex-direction: column;
            }
        }
        a {
            display: block;
            max-width: 350px;
            width: 100%;
            height: auto;
            // background-color: red;
            margin-bottom: 10px;
            position: relative; //讓before可以抓到高度
            @include mobile {
                // max-height: 350px;
            }
        }
        a.soldOut::before {
            content: "Sold Out";
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            line-height: 36px;
            width: 100%;
            height: 100%;
            color: white;
            background-color: rgba(0, 0, 0, .3);
            z-index: 2;
        }
    }
    .title {
        font-size: 24px;
        line-height: 36px;
        font-weight: bold;
        margin-bottom: 10px;
        @include mobile {
            margin-bottom: 0;
        }
    }
    .name {
        font-size: 16px;
        line-height: 24px;
        color: #000;
        margin-bottom: 16px;
        @include mobile {
            margin-bottom: 4px;
        }
    }
    .price {
        font-size: 16px;
        color: #000;
        @include mobile {
            margin-bottom: 32px;
        }
        span {
            color: #8D8D8D;
            text-decoration: line-through;
            margin-left: 8px;
        }
    }
}

.product__img2 {
    // width: 50%;
    max-width: 66.6666%;
    width: 100%;
    // display: none;
    // max-width: 550px;
    // max-height: 550px;
    // background-color: red;
    @include mobile {
        max-width: 100%;
        width: 100%;
    }
    img {
        max-width: 95%;
        height: auto;
        // display: block; //去除圖片margin bottom 3px
        @include mobile {
            max-width: 100%;
            margin-bottom: 8px;
        }
    }
}

.subscribe {
    max-width: 100%;
    height: 600px;
    // padding: 0 15px;
    background: url(../images/index10.jpg) no-repeat;
    @include mobile {
        // height: 600px;
        background: url(../images/index10-mobile.jpg) no-repeat;
    }
    background-size: cover;
    background-position: center;
    // display: flex;
    // justify-content: flex-start;
    // align-items: center;
    h3 {
        font-size: 32px;
        line-height: 48px;
        color: #8d8d8d;
        margin-bottom: 20px;
    }
    .subscribe__inner {
        max-width: 350px;
        width: 100%;
        // background-color: red;
        // margin: 0 auto;
        position: relative;
        top: 312px;
    }
    form {
        // background-color: red;
        display: flex;
    }
    input {
        box-sizing: border-box;
        width: 220px;
        height: 60px;
        padding: 20px 10px;
        display: inline-block;
        border-radius: 5px 0 0 5px;
        border: 2px solid #916000;
        &:focus {
            outline: none;
            &::placeholder {
                color: #ccc;
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
    input[type="submit"] {
        height: 60px;
        width: 130px;
        border-radius: 0 5px 5px 0;
        color: white;
        background-color: #916000;
        transition: .3s;
        &:hover {
            background-color: darken(#916000, 5%);
            cursor: pointer;
            transition: .3s;
        }
    }
}

.footer {
    background-color: #916000;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
    .logo {
        display: flex;
        align-items: center;
    }
    .copyright {
        margin-left: 10px;
        color: #dbcbac;
        font-size: 14px;
    }
    ul {
        display: flex;
        @include mobile {
            display: none;
        }
        a {
            display: block;
            padding: 20px 10px;
            color: #dbcbac;
            transition: .3s;
            &:hover {
                transition: .3s;
                color: lighten(#dbcbac, 20%);
            }
        }
    }
}